<div class="card mt-4 bg-base-100 shadow-xl <%= @extra_container_classes %>">
  <div class="card-body <%= @extra_body_classes %>">
    <h2 class="card-title"><%= @title %></h2>
      <%= content %>
  </div>
</div>