<%= render AdminCardComponent.new(title: @customer.stripe_customer_id, btn_path: admin_customer_path(@customer)) do %>
  <hr>
  <div class="container mx-auto lg:mt-10 lg:px-12">
    <div class="grid mt-4 lg:grid-cols-4 grid-cols-3">
      <div class="mb-4">ID</div>
      <div><%= @customer.id %></div>
    </div>
    <div class="grid lg:grid-cols-4 grid-cols-3 mt-4">
      <div class="mb-4">STRIPE ID</div>
      <div><%= @customer.stripe_customer_id %></div>
    </div>
  </div>
<% end %>