<p class="mb-2">
  The Adoption fee is a <i>NONREFUNDABLE</i> donation given to Wags so that we may continue our mission of saving
  dogs.
  If the time comes that an adopter can no longer care for the dog, it is understood that <i>NO REFUND</i> of
  adoption fees
  will be given and that the dog must be returned to Wags.
</p>
<p class="mb-2">
  If you have any questions, please email Our
  <%= link_to "Adoptions Coordinator", "mailto:adoptions@wagsrescue.org", class: "link link-primary" %>
</p>
<p>
  <small>
    Forgive us if there is sometimes a delay in getting back to your inquiries. We are all volunteers doing our
    best to meet the demands of our own lives, families and jobs, in addition to helping these dogs. If you feel
    that your email or application has been overlooked,
    it is quite possible that email or server problems deleted it accidentally. Please try again!
  </small>
</p>