<p class="mb-2">All adoption decisions are based on what we feel is in the best interest for each dog.
  We reserve the right to decline any application if we feel the dogs health, safety or wellbeing may be at
  risk.
</p>
<p class="text-center mb-2">
  <i>Home checks may be required before approval and post adoption.</i>
</p>
<div class="flex flex-wrap">
  <p class="mb-2">A complete list of dogs available for adoption can be found on
    <a href="https://www.adoptapet.com/shelter/82992-wags-rescue-and-referral-southampton-pennsylvania" target="_blank">
      <u>our dogs page</u> </a>
    or you can click on the Adopt a Pet banner.</p>
  <div class="justify-end flex mb-2">
    <%= link_to "https://www.adoptapet.com/shelter/82992-wags-rescue-and-referral-southampton-pennsylvania", target: "_blank" do %>
      <%= image_tag "petfinder.jpg", class: "justify-end", width: "217", height: "77", target: "_blank" %>
    <% end %>
  </div>
  <p class="text-center mb-2">
    <i>When inquiring about a dog, please be sure to reference the dog's full name (first and last) and litter
      name if it's a puppy.
      Failure to reference the complete name will significantly delay our response time. Thank you for your
      cooperation.
    </i>
  </p>
</div>
<p> You <u>must</u> be approved in advance in order to adopt from Wags. Your approval is then valid for 90 days.
</p>