<p class="mb-2">
  Below are the standard adoption fees. There are instances where special adoption fees apply so please check the
  PetFinder listing
  for a dog to see the adoption fee that applies.
</p>
<p class="mb-2">Once your adoption agreement is received and medicals emailed, you have 48 hours to pick up your new dog.</p>

<%= render ModalComponent.new(open_btn_text: "Click here for fees", close_btn_text: "Back") do %>
  <h3 class="font-bold text-lg">Fees</h3>
  <p class="py-2">Dogs under 1 year old: $400 if spayed/neutered, or $300+$100 spay/neuter refundable
    deposit*</p>
  <p class="py-2">Dogs 1-4 years old: $350 if spayed/neutered, or $250+$100 spay/neuter refundable deposit*</p>
  <p class="py-2">Dogs 4-6 years old: $250 if spayed/neutered, or $250+$100 spay/neuter refundable deposit*</p>
  <p class="py-2">Dogs over 6 years old: $150 if spayed/neutered, or $150+$100 spay/neuter refundable deposit*</p>
<% end %>

<p class="mb-2">*Your $100 spay/neuter deposit will be returned once we receive proof of the spay/neuter within 6
  months of the adoption.
  Please email the certificate of Spay/Neuter to
  <%= link_to "refund@wagsrescue.org", "mailto:refund@wagsrescue.org", class: "link link-primary" %>
</p>
<ul class="list-disc list-inside mb-2">
  <li class="mb-2">You must include adopter's name on the agreement, dog's original Wags name and preferred method
    of refund: PayPal or check via U.S. mail with your request.
    If choosing PayPal, please include the PayPal account/email.
    If choosing check, please include a mailing address for U.S. mail.
  </li>
  <li>Should you choose to donate your deposit, please email a copy of the spay/neuter certificate,
    include the dog's original Wags name and intentions to donate deposit to
    <%= link_to "refund@wagsrescue.org", "mailto:refund@wagsrescue.org", class: "link link-primary" %>
    and for that we thank you.
  </li>
</ul>
<p class="mb-2">In case of a returned check, Wags will require the fees paid plus a $30.00 NSF fee.</p>
<p class="mb-2">At events, we accept cash or checks for the adoption fee.</p>
<p>If you would like to pay the adoption fee via PayPal, the payment must be made 3 days prior to finalizing the
  adoption.</p>