<p class="text-center font-medium mb-2">Once we receive your application, we will review it to see if you meet our
  adoption criteria.</p>
<ol class="list-decimal ml-4 mb-2">
  <li>If we find that your application responses are not as truthful and honest as possible, we will decline your
    application.
    Please be aware that we do leverage third party services to validate many of your responses.
  </li>
  <li>If you have pets that are not properly vaccinated, we will decline your application. This includes cats that
    are kept indoors
    at all times.
  </li>
  <li>If you have pets that are not spayed/neutered, we will decline your application.</li>
  <li>If you listed a vet reference, we will call your vet to verify your information.</li>
  <li>If you do not have a vet reference, we require 2 non-family, personal references.</li>
</ol>
<p class="indent-6">
  We often receive several applications for the same dog during an adoption event or from online postings.
  We do not base our decision on the order in which the applications were received.
  We review each application and make our decision based on what we feel is the best fit for each dog.
  We reserve the right to decline any application that is not in the dog's best interest.
</p>