<p class="mb-2">
  After your application has been approved and you have chosen your new family member,
  you will be required to initial each item on our adoption agreement and have all adopters sign before we can
  finalize your adoption.
</p>
<p>Once your adoption agreement is received and medicals emailed, you have 48 hours to pick up your new dog.</p>