<p class="mb-2">Quite simply, we really don't. Our dogs, most commonly, are magnificent mutts.
  The breed listed on the website is always a "mix" and is completely based on a guess of one person (usually
  shelter staff).
  There can be endless varying opinions as to what a dog is really mixed with. For example, a dog may be marked as
  a lab mix
  and if you get a DNA test done, there may not be any lab in the dog at all.
</p>
<p class="mb-2">
  The reality is, if it's important to you to have a certain breed (or it is important that your dog NOT have
  certain breeds in its makeup),
  try a breed-specific rescue group. If breed is not a concern when choosing a fit for your family, try to focus
  on traits that make
  a difference in daily life such as personality/temperament, size, health, activity level and age. When it comes
  to choosing a rescue dog,
  they most often are very watered down mutts and should not be judged based on any specific breed stereotypes.
</p>
<p>
  As stated in our adoption agreement, please remember before you commit that
  <strong>we can not/do not represent that we really know what breed/mix a dog may be.</strong>
</p>