<h1 class="text-center text-2xl font-bold mb-2"> Adopting From Wags </h1>
<div>
  <div tabindex="0" class="collapse collapse-arrow border hover:bg-sky-500/25 rounded-xl">
    <input type="checkbox">
    <div class="collapse-title text-xl font-medium text-center">
      Adoption Guidelines
    </div>
    <div class="collapse-content">
      <p class="indent-6 mb-2">All adoption decisions are based on what we feel is in the best interest for each dog.
        We reserve the right to decline any application if we feel the dogs health, safety or wellbeing may be at risk.
      </p>
      <p class="text-center mb-2">
        <i>Home checks may be required before approval and post adoption.</i>
      </p>
      <div class="flex flex-wrap">
        <p>A complete list of dogs available for adoption can be found on
          <a href="https://www.adoptapet.com/shelter/82992-wags-rescue-and-referral-southampton-pennsylvania" target="_blank"> <u>our dogs page</u> </a>
          or you can click on the Adopt a Pet banner.</a>
        <div class="justify-end flex">
          <%= link_to "https://www.adoptapet.com/shelter/82992-wags-rescue-and-referral-southampton-pennsylvania", target:"_blank" do%>
            <%= image_tag "petfinder.jpg", class: "justify-end", width: "217", height: "77", target: "_blank"%>
          <%end%>
        </div>
        </p>
        <p class="text-center mb-4">
          <i>When inquiring about a dog, please be sure to reference the dog's full name (first and last) and litter name if it's a puppy.
            Failure to reference the complete name will significantly delay our response time. Thank you for your cooperation.</i>
        </p>
      </div>
      <p> You <u>must</u> be approved in advance in order to adopt from Wags. Your approval is then valid for 90 days. </p>
    </div>
  </div>
  </p>
</div>
<div tabindex="0" class="collapse collapse-arrow border hover:bg-sky-500/25 rounded-xl">
  <input type="checkbox">
  <div class="collapse-title text-xl font-medium text-center">
    Our Adoption Area
  </div>
  <div class="collapse-content">
    <p class="indent-6"><i>Wags Rescue</i> is based in <i>Bucks County</i>. Therefore, a majority of our volunteers live in the Bucks County area.
      <i>WAGS</i> will consider adoption applications for people living in the <i>BUCKS</i> and <i>MONTGOMERY</i> areas. On a case by case basis
      (depending on distance and availability of our volunteers to do a home visit), we may consider applications in the
      <i>PHILADELPHIA</i> area as well as parts of <i>CHESTER</i> county.
    </p>
  </div>
</div>
<div tabindex="0" class="collapse collapse-arrow border hover:bg-sky-500/25 rounded-box">
  <input type="checkbox">
  <div class="collapse-title text-xl font-medium text-center">
    How We Determine What Breed a Dog is
  </div>
  <div class="collapse-content">
    <p class="indent-6">Quite simply, we really don't. Our dogs, most commonly, are magnificent mutts.
      The breed listed on the website is always a "mix" and is completely based on a guess of one person (usually shelter staff).
      There can be endless varying opinions as to what a dog is really mixed with. For example, a dog may be marked as a lab mix
      and if you get a DNA test done, there may not be any lab in the dog at all.
    </p>
    <p>
      The reality is, if it's important to you to have a certain breed (or it is important that your dog NOT have certain breeds in its makeup),
      try a breed-specific rescue group. If breed is not a concern when choosing a fit for your family, try to focus on traits that make
      a difference in daily life such as personality/temperament, size, health, activity level and age. When it comes to choosing a rescue dog,
      they most often are very watered down mutts and should not be judged based on any specific breed stereotypes.
    </p>
    <p>
      As stated in our adoption agreement, please remember before you commit that
      <strong>we can not/do not represent that we really know what breed/mix a dog may be.</strong>
    </p>
  </div>
</div>
<div tabindex="0" class="collapse collapse-arrow border hover:bg-sky-500/25 rounded-box mb-2">
  <input type="checkbox">
  <div class="collapse-title text-xl font-medium text-center">
    Application Review Process
  </div>
  <div class="collapse-content">
    <p class="text-center font-medium mb-2">Once we receive your application, we will review it to see if you meet our adoption criteria.</p>
    <ol class="list-decimal ml-4 mb-2">
      <li>If we find that your application responses are not as truthful and honest as possible, we will decline your application.
        Please be aware that we do leverage third party services to validate many of your responses.</li>
      <li>If you have pets that are not properly vaccinated, we will decline your application. This includes cats that are kept indoors
        at all times.</li>
      <li>If you have pets that are not spayed/neutered, we will decline your application.</li>
      <li>If you listed a vet reference, we will call your vet to verify your information.</li>
      <li>If you do not have a vet reference, we require 2 non-family, personal references.</li>
    </ol>
    <p class="indent-6">
      We often receive several applications for the same dog during an adoption event or from online postings.
      We do not base our decision on the order in which the applications were received.
      We review each application and make our decision based on what we feel is the best fit for each dog.
      We reserve the right to decline any application that is not in the dog's best interest.
    </p>
    <p>
      <b>
        <u>Adoption Agreement</u>
      </b>
      - After your application has been approved and you have chosen your new family member,
      you will be required to initial each item on our adoption agreement and have all adopters sign before we can finalize your adoption.
  </div>
</div>
<p class="text-center mb-2 rounded-lg text-[#3367d6]">
  <b>
    <a href="wags senioradoptionpolicy link">Click Here to View Wags Senior Citizen Adoption Policy <i class="fa-solid fa-arrow-up-right-from-square" style="color: #3367d6;"></i></a>
  </b>
</p>
<p class="text-center mb-2 text-[#3367d6]">
  <b>
    <a href="AdoptionApplicationLink" target="_blank">I've Read the Above and am Ready to Complete the Adoption Application <i class="fa-solid fa-arrow-up-right-from-square" style="color: #3367d6;"></i></a>
  </b>
</p>
</div>