<h1> Adopting From Wags </h1>
<div>
  <p>All adoption decisions are based on what we feel is in the best interest for each dog.
     We reserve the right to decline any application if we feel the dogs health, safety or wellbeing may be at risk.
  </p>
  <p>
    <strong>Home checks may be required before approval and post adoption.</strong>
  </p>
  <p>A complete list of dogs available for adoption can be found on
  <a href="url" target="_blank"> our dogs page </a>
  or you can use the Adopt a Pet banner to the right
  <a>
  <img href="adoptapet url" src="picture.jpeg" width="217" height="77" target="_blank">
  </a>
  </p>
  <p>
    <strong>When inquiring about a dog, please be sure to reference the dog's full name (first and last) and litter name if it's a puppy.
            Failure to reference the complete name will significantly delay our response time. Thank you for your cooperation.</strong>
  </p>
  <p> You <u>must</u> be approved in advance in order to adopt from Wags. Your approval is then valid for 90 days. </p>
  <p> <u>Our Adoption Area</u> - WAGS RESCUE is based in BUCKS COUNTY. Therefore, a majority of our volunteers live in the Bucks County area.
     WAGS will consider adoption applications for people living in the BUCKS and MONTGOMERY areas. On a case by case basis
     (depending on distance and availability of our volunteers to do a home visit), we may consider applications in the 
     PHILADELPHIA area as well as parts of CHESTER county.
  </p>
  <b>
  <a href="wags senioradoptionpolicy link">Click Here to View Wags Senior Citizen Adoption Policy</a>
  </b>
  <p>
     <u>How We Determine What Breed a Dog is</u> - Quite simply, we really don't. Our dogs, most commonly, are magnificent mutts.
        The breed listed on the website is always a "mix" and is completely based on a guess of one person (usually shelter staff).
        There can be endless varying opinions as to what a dog is really mixed with. For example, a dog may be marked as a lab mix
        and if you get a DNA test done, there may not be any lab in the dog at all.
  </p>
  <p>
     The reality is, if it's important to you to have a certain breed (or it is important that your dog NOT have certain breeds in its makeup),
     try a breed-specific rescue group. If breed is not a concern when choosing a fit for your family, try to focus on traits that make
     a difference in daily life such as personality/temperament, size, health, activity level and age. When it comes to choosing a rescue dog,
     they most often are very watered down mutts and should not be judged based on any specific breed stereotypes.
  </p>
  <p>
     As stated in our adoption agreement, please remember before you commit that 
     WE CAN NOT/DO NOT REPRESENT THAT WE REALLY KNOW WHAT BREED/MIX A DOG MAY BE.
  </p>
  <p><u>Application Review Process</u> - Once we receive your application, we will review it to see if you meet our adoption criteria.</p>
  <ol class="list-decimal">
    <li>If we find that your application responses are not as truthful and honest as possible, we will decline your application.
     Please be aware that we do leverage third party services to validate many of your responses.</li>
    <li>If you have pets that are not properly vaccinated, we will decline your application. This includes cats that are kept indoors
     at all times.</li>
     <li>If you have pets that are not spayed/neutered, we will decline your application.</li>
     <li>If you listed a vet reference, we will call your vet to verify your information.</li>
     <li>If you do not have a vet reference, we require 2 non-family, personal references.</li>
  </ol>
</div>