<div>
  <h3 class="text-3xl text-primary mb-4 mt-4">Upcoming Events</h3>
  <div class="flex flex-col sm:flex-row sm:flex-wrap sm:-mx-2 gap-4">
    <div class="card sm:w-96 mt-4 bg-base-100 shadow-xl mt-4 bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title">Arts & Barks Fest</h2>
        <p>Sunday, 5/21/2023</p>
        <p>11AM-3PM</p>
        <p>350 E Bristol Rd Warminster, PA 18974</p>
        <div class="card-actions">
          <%= link_to "Directions", "https://goo.gl/maps/ih1PMwDyhtAaFwzP6", target: "_blank", class: "btn btn-primary" %>
        </div>
      </div>
    </div>

    <div class="card sm:w-96 mt-4 bg-base-100 shadow-xl mt-4 bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title">Pet Supplies Plus</h2>
        <p>Sunday, 5/28/2023</p>
        <p>11AM-1PM</p>
        <p>488 Second St Pike Southampton, PA 18966</p>
        <div class="card-actions">
          <%= link_to "Directions", "https://goo.gl/maps/P6jBi66AbfFFuS8Y8", target: "_blank", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="card sm:w-96 mt-4 bg-base-100 shadow-xl mt-4 bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title">
          Pop-Up Fresh Market Warminster Community Park
        </h2>
        <p>Sunday, 7/16/2023</p>
        <p>9:30AM-1PM</p>
        <p>
          1100 Veterans Way Warminster, PA 18974
        </p>
        <div class="card-actions">
          <%= link_to "Directions", "https://www.google.com/maps/dir//Warminster+Community+Park+1100+veterans+way/@40.139157,-75.3170151,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x89c6ae9c60b6beeb:0x233de9bfae2e620c!2m2!1d-75.0655682!2d40.1999041", target: "_blank", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="card sm:w-96 mt-4 bg-base-100 shadow-xl mt-4 bg-base-100 shadow-xl mb-4">
      <div class="card-body">
        <h2 class="card-title">
          Food Truck & Music Fest Warminster Community Park
        </h2>
        <p>Saturday, 9/16/2023</p>
        <p>11AM-3PM</p>
        <p>
          1100 Veterans Way Warminster, PA 18974
        </p>
        <div class="card-actions">
          <%= link_to "Directions", "https://www.google.com/maps/dir//Warminster+Community+Park+1100+veterans+way/@40.139157,-75.3170151,11z/data=!4m8!4m7!1m0!1m5!1m1!1s0x89c6ae9c60b6beeb:0x233de9bfae2e620c!2m2!1d-75.0655682!2d40.1999041", target: "_blank", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>