<h1 class="text-primary text-5xl mb-10">Fostering a Wags Dog</h1>
<div>
  <div>
    <p class="mb-4">
      We believe in the value of the lives of the animals that we rescue and giving them a second lease on life with
      parents that will love them and treasure them as true members of the family.
    </p>
    <p>
      Foster parents are one of the things we are in the most need of, rarely have enough of, and never have too many
      of.
      Our foster parents are the heart and soul of Wags. They provide a vital link between the kill shelters and forever
      homes for our dogs. Without our foster network, we could not continue. It is simply too expensive to kennel all
      our
      dogs.
    </p>
  </div>
  <div class="flex mt-4 mb-4">
    <p class="flex items-center font-medium mr-4">
      Would you consider fostering
      one of our dogs so we can save
      this guy from a terrible fate?
    </p>
    <%= image_tag "shelterdog_2.jpg", width: "241", height: "238" %>
  </div>
  <div class="mt-4 mb-4">
    <p>
      If you were alone in a new town, would you rather stay in a metal crate or in the home of some nice family with
      companionship, love and affection?
    </p>
    <p class="mt-4">
      Wags strives to place the animals in our care in the most appropriate and permanent living situation. Until that
      perfect home can be found, our animals remain in the care of one of our dedicated foster parents.
    </p>
    <p class="mt-4">
      Most of the animals that need foster care will need your patience, understanding, time, training and unconditional
      love to help them move into their forever home.
    </p>
    <p class="mt-4">
      Most fosters are only with you for a short time, enabling us to learn more about the personality and habits of the
      animals. While other fosters may require additional time so that they can learn how to trust and be loved.
    </p>
    <p class="mt-4 mb-4">
      If you are able to open your heart and home to help foster one of our beloved animals, Wags will provide the
      following:
    </p>
    <ul class="list-disc ml-10">
      <li>All medical care</li>
      <li>Food</li>
      <li>Crate, leashes, collars, etc.</li>
      <li>Support in caring for your foster</li>
    </ul>
    <p class="mt-4">
      Please help us give these beautiful animals a new start in life!
    </p>
    <p class="mt-4">
      We cannot do it without foster families and adopters. These are dogs in need, dogs that were thrown out like
      trash, and in some cases actually thrown out of a vehicle and dumped. We need to get these babies here and show
      them that not all humans are bad and that there is someone, lots of someones, out there that want to love them.
    </p>
    <p class="mt-4">
      If you can foster long term, please consider fostering one dog, one time. It will help!
    </p>
    <p class="mt-4 font-bold text-lg">
      Without you, there is a shelter dog whose time will run out.
    </p>
    <p class="mt-4">
      If you are interested in fostering one of our amazing dogs, please fill out our
      <%= link_to "Wags Foster Application", "#", class: "link link-primary text-lg font-bold" %> and answer all questions that apply.
    </p>
    <p class="mt-4 mb-4">
      If you have any questions, please email
      our <%= link_to "Fosters Coordinator", "mailto:fosters@wagsrescue.org", class: "link link-primary text-lg font-bold" %>
    </p>
    <small>
      Forgive us if there is sometimes a delay in getting back to your inquiries. We are all volunteers doing our best
      to meet the demands of our own lives, families and jobs, in addition to helping these dogs. If you feel that your
      email or application has been overlooked, it is quite possible that email or server problems deleted it
      accidentally. Please try again!
    </small>
  </div>
</div>